.card {
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    max-width: 150px;
}
@media screen and (max-width: 540px) {
    .card {
        margin: 0.4rem;
        display: flex;
        flex-direction: column;
        max-width: 100px;
    }
  }
  